*.log*
*.pid
*.seed
.env
.lock-wscript
.npmrc
.vscode
.idea
.DS_Store
*.zip
out
build/Release
coverage
dist
lib-cov
logs
node_modules
package-lock.json
pids
test/integration/screenshots
tmp
temp
v8-compile-cache-0
